span {
  position: relative;
}

span::after {
  right: -18px;
  position: absolute;
}

input:invalid + span::after {
  content: 'X';
}

input:valid + span::after {
  content:'\2713';
  display:inline-block;
  color:red;
  padding:2 0px 2 2;
}
.left{
  float: left;
    width: 50%;
}
.right {
    float: right;
    width: 50%;
}
